@charset "ISO-8859-1";

.cfgpagebodystyle {
    background-attachment: fixed;
    background-color:      lightblue;
    background-position:   center;
    background-repeat:     no-repeat;
    background-size:       contain;
    height:                100vh;
    overflow:              hidden;
    width:                 100vw;
}

.controlbutton {
    background-color: black;
    border:           2px solid cyan;
    border-radius:    15px;
    color:            cyan;
    font-size:        16px;
    margin:           4px 2px;
    padding:          10px 10px;
    text-align:       center;
    text-decoration:  none;
}

.controllabel {
    color:           cyan;
    font-size:       20px;
    margin:          4px 2px;
    text-align:      center;
    text-decoration: none;
}

.controltextbox {
    background-color: black;
    border:           1px solid cyan;
    color:            cyan;
    font-size:        16px;
    margin:           4px 2px;
    text-decoration:  none;
}

.mainpagebodystyle {
    animation:             gradient 3s ease infinite;
    background:            linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-attachment: fixed;
    background-position:   center;
    background-repeat:     no-repeat;
    background-size:       contain;
    height:                100vh;
    overflow:              hidden;
    width:                 100vw;
}

.popup {
    align-items:      center;
    background-color: black;
    border:           3px solid cyan;
    border-radius:    15px;
    bottom:           0;
    color:            cyan;
    display:          none;
    height:           fit-content;
    justify-content:  center;
    left:             0;
    margin:           auto;
    opacity:          0.6;
    padding:          10px;
    position:         absolute;
    right:            0;
    top:              0;
    visibility:       collapse;
    width:            fit-content;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
